# SQLite Veritabanı (SQL=Structured Query Language)

SQL kodları çalıştırmak için pythonda bulunan sqlite3 modülünü kullanmak gerekiyor.

In [1]:
#import sqlite3
#con=sqlite3.connect("veritabani_adi.db")

Yukarıdaki kodu çalıştırdığımızda, veritabani_adi.db isimli bir veritabanı varsa buna bağlanır, yoksa bu isimde bir veritabanı oluşturur ve buna bağlanır, bu arada biz bu bağlantımızı "con" isimli bir değişkene ileriki kullanımlarda işimize yarayacağı için atadık.

In [2]:
#cursor=con.cursor()

Şimdi de sorgulamalarımız için (veritabanına göndereceğimiz komutlara, sorgu diyoruz) bir imleç görevi görecek olan cursor değişkenimizi tanımladık.

In [3]:
#con.close()

Yukarıdaki kodumuzla ise veritabanında gerçekleştireceğimiz çeşitli işlemlerimizin ardından aynı dosyalarla çalışırken yaptığımız gibi bağlantımızı kapatıyoruz.

Özet olarak veritabanında çalışırken oluşacak işlem adımlarımız şu şekilde olacak...

In [4]:
#import sqlite3
#baglanti=sqlite3.connect("veritabanım.db")
#imlec=baglanti.cursor()
#imlec.execute(çeşitli sorgulama işlemleri...)
#...
#...
#baglanti.close()

## Veritabanında tablo oluşturma

Tablo iki şekilde oluşturulur:

In [5]:
#1 CREATE TABLE tablo_ismi (kolon1 TEXT, kolon2  INT, kolon3 TEXT,.......)

Yukarıdaki sorguyu gönderdiğimizde eğer yoksa tablo_ismi adında bir tablo oluşturacak ve içinde kolon1, kolon2, kolon3 adlarında sütun isimleri oluşturacak, bu sütunlara girilecek veri tiplerini de TEXT(sql de stringler text olarak tanımlanır) ya da integer için INT olarak belirleyecektir.
Ancak bu sorguya göre aynı isimde bir tablo zaten varsa hata verecektir.

In [14]:
#2 CREATE TABLE IF NOT EXISTS kitaplar (adı TEXT, yayınevi TEXT, yazar TEXT, baskı_sayısı INT, sayfa_sayısı INT)

Yukarıdaki sorguyu gönderdiğimizde ise eğer yoksa tabloyu oluşturacak, varsa hata vermeyecektir.

In [10]:
#import sqlite3
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()
#cur.execute("CREATE TABLE IF NOT EXISTS kitaplar (adı TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT)")
#con.commit()
#con.close()

Yukarıdaki kodları çalıştırdığımızda veritabani.db (yoksa oluşturulup) adlı veritabanına bağlanacak ve bu veritabanı içinde kitaplar adında bir tablo oluşturacak (eğer böyle bir tablo zaten varsa hata vermeyecek, hiçbir işlem yapmayacaktır.)

#### NOT:

***commit() metodu veritabanında değişiklik yapan sorguları veritabanına işlemek için çalıştırmamız gereken bir koddur.***

**Veritabanı sorgularını büyük harf yapmak bir gereklilik değildir, bir alışkanlıktır.**

## Veritabanındaki tablolara bilgi ekleme, mevcut bilgiyi değiştirme(güncelleme) ve silme

### Tabloya veri ekleme

In [11]:
# INSERT INTO kitaplar VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',561)

İşte yukarıdaki sorguyu execute() metodu ile gönderdiğimizde var olan tablomuza bu veriyi eklemiş oluruz. Tabi bu işlemimiz veritabanımızda değişiklik yapacak bir işlem olduğu için commit() kullanımını da unutmamak gerekir.

In [13]:
#import sqlite3
#def kitap_ekle(tablo,isim,yazar,yayinevi,sayfa_sayisi):
#    cur.execute("INSERT INTO {} VALUES('{}','{}','{}',{})".format(tablo,isim,yazar,yayinevi,sayfa_sayisi))
#    con.commit()
    
    
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()
#kitap_ekle("kitaplar","Patasana","Ahmet Ümit","Everest",400)
#con.close()

Mevcut olan **veritabani.db** adlı veritabanımızdaki yine mevcut olan **kitaplarım** adlı tabloya daha önce oluşturulmuş olan **adı** , **yazar**, **yayınevi** , **sayfa_sayısı** kolonlarına sırasıyla **Patasana**, **Ahmet Ümit**, **Everest**, **400** verilerini ekleyecek kodumuzun bir örneği yukarıdaki koddur.

In [16]:
#def kitap_ekle(isim,yazar,yayınevi,sayfa_sayısı):
#    cur.execute("INSERT INTO kitaplar VALUES(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
#    con.commit()
#isim = input("İsim:")
#yazar = input("Yazar:")
#yayınevi = input("Yayınevi:")
#sayfa_sayısı =  int(input("Sayfa Sayısı:"))

Yukarıda kitap_ekle fonksiyonumuza, başka bir örnek olarak değerleri input() ile alan fonksiyon verilmiştir. Ancak burada asıl dikkate değer olan:
**cur.execute("INSERT INTO kitaplar VALUES(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))**   
şeklindeki kullanımdır.

Burada **?** ile yapılan .format ya da f string benzeri kullanım sqlite3 modülünün execute() metoduna özgü bir kullanım olabilir.

### Veri güncelleme

In [17]:
#UPDATE tablo_adı SET güncellenecek_bilginin_kolonu = 'yeni_bilgi' WHERE hangi_kolonda_arama_yapılacak = 'aranan_bilgi'

Yukarıdaki sorgu formülü bir tablodaki bir ya da birden fazla bilgiyi değiştirmek için kullanılacak sorgudur.

In [18]:
#import sqlite3
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()

#def kitap_ekle(tablo,isim,yazar,yayinevi,sayfa_sayisi):
#    cur.execute("INSERT INTO {} VALUES('{}','{}','{}',{})".format(tablo,isim,yazar,yayinevi,sayfa_sayisi))
#    con.commit()


#def bilgi_guncelle():
#    tablo_adı = input("Güncellenecek Tablo adı:")
#    değiş_sütun = input("Güncellenecek bilgi türü:")
#    yeni_bilgi = input("Yeni bilgi:")
#    arama_sütun = input("Aranacak bilgi Türü:")
#    arama_metni = input("Aranama metni:")
#    cur.execute("UPDATE {} SET {} ='{}' WHERE {} = '{}'".format(tablo_adı,değiş_sütun,yeni_bilgi,arama_sütun,arama_metni))
#    con.commit()

#kitap_ekle("kitaplar","Olasılıksız","Adam Faver","Metis",475)
#bilgi_guncelle()

#con.close()

Yukarıdaki kodu çalıştırdığımızda **kitap_ekle** fonksiyonunda görüldüğü gibi Olasılıksız kitabının yayınevinin yanlışlıkla "metis" olacak şekilde kitaplar tablomuza bu kitabın bilgileri eklenmiş olacak,
Bu yanlışlığı düzeltmek istediğimizi varsayarak,
**bilgi_güncelle** fonksiyonuna baktığımızda,
Güncellenecek bilgi türü :yayınevi
Yeni bilgi               :APRIL
Aranacak bilgi Türü      :adı veya yazarı olabilir. (Değiştirmek istediğimiz bilgiye ait kitabı nasıl bulmak istediğimize)
Arama metni              :aranacak bilgi türüne göre Olasılıksız veya Adam Faver olabilir...

Bize inputla sorulacak bu bilgileri girdiğimizde sql kitaplar tablosunda aranacak bilgi türü ve arama metnine göre bulacağı bütün kitapların yayınevi bilgisini APRIL olarak değiştirecektir.

Örnek olarak tablomuzda birden fazla Adam Faver varsa ve biz Bilgi türü olarak Yazara göre arama yaptıysak yazarı Adam Faver olan bütün kitapların yayınevini APRIL olarak güncelleyecektir.

### Veri Silme

In [19]:
#DELETE FROM tablo_adı WHERE arama_kolonu = "Arama metni"

Yukarıdaki sorgu kalıbı da bir tablodan veri silerken execute() metoduyla göndereceğimiz sorgudur.

In [20]:
#import sqlite3
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()

#def kitap_ekle(tablo,isim,yazar,yayinevi,sayfa_sayisi):
#    cur.execute("INSERT INTO {} VALUES('{}','{}','{}',{})".format(tablo,isim,yazar,yayinevi,sayfa_sayisi))
#    con.commit()


#def bilgi_guncelle():
#    tablo_adı = input("Güncellenecek Tablo adı:")
#    değiş_sütun = input("Güncellenecek bilgi türü:")
#    yeni_bilgi = input("Yeni bilgi:")
#    arama_sütun = input("Aranacak bilgi Türü:")
#    arama_metni = input("Aranama metni:")
#    cur.execute("UPDATE {} SET {} ='{}' WHERE {} = '{}'".format(tablo_adı,değiş_sütun,yeni_bilgi,arama_sütun,arama_metni))
#    con.commit()

#def kitap_sil(tablo,sütun,arama):
#    cur.execute(f"DELETE FROM {tablo} WHERE {sütun} = '{arama}'")
#    con.commit()

#kitap_ekle("kitaplar","Patasana","Ahmet Ümit","Everest",400)
#kitap_ekle("kitaplar","Olasılıksız","Adam Faver","APRIL",475)
#kitap_ekle("kitaplar","İstanbul Hatırası","Ahmet Ümit","Everest",590)

#tablo_adı=input("Tablo Adı: ")
#arama_yeri=input("Arama kriteri: ")
#metin=input("Arama metni: ")

#kitap_sil(tablo_adı,arama_yeri,metin)
#con.close()

Yukarıdaki kodlarda görüldüğü gibi **kitap_ekle** metodu ile 3 adet kitap eklediğimizi ve tablomuzda 3 kitap olduğunu varsayarsak, bunlardan Patasana'yı silmek için **Arama kriteri** inputuna yazar ve **Arama metni** inputuna da Ahmet Ümit girersek Ahmet Ümitin tablodaki her iki kitabı da silinecektir.

## Tablodan veri çekme (okuma)

Tablolardan iki temel şekilde veri çekiyoruz,

In [21]:
#1.a SELECT sütuni,sütunj,... FROM tabloadı
#1.b  SELECT * FROM tabloadı

Yukarıdaki sorgu kalıbından 1.a da tablodaki bütün verilerin sadece seçilen sütunları çekilir. Örnek olarak bizim kitaplar tablomuz için, sorguya göndereceğimiz sütun adlarına göre bütün kitapların sadece istediğimiz sütun bilgileri gelir. Mesela:
**SELECT adı,yazar FROM kitaplar**
sorgusunu gönderirsek bütün kitapların sadece adı ve yazarı bilgilerini çekeriz.
Bu durumda, 1.b sorgusunda ise tablonun tamamını çekmiş oluruz.

In [22]:
#2.a SELECT sütuni,sütunj FROM tabloadı WHERE sütun = 'arama metni'
#2.b SELECT * FROM tabloadı WHERE sütun = 'arama metni'

Yukarıdaki sorgu kalıplarında ise çekeceğimiz verileri sütuna göre arayarak çekeriz.

In [25]:
#import sqlite3
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()

#def kitap_ekle(tablo,isim,yazar,yayinevi,sayfa_sayisi):
#    cur.execute("INSERT INTO {} VALUES('{}','{}','{}',{})".format(tablo,isim,yazar,yayinevi,sayfa_sayisi))
#    con.commit()

#def listele():
#    tabloadı=input("Tablo adı: ")
#    kriter=input("Listeleme Kriterleri:\n Tümü için '*' girin \n Belirli kriterler için virgülle ayırarak yazın\n")
#    cur.execute(f"SELECT {kriter} FROM {tabloadı}")
#    liste=cur.fetchall()
#    print(*liste,sep="\n")


#kitap_ekle("kitaplar","Patasana","Ahmet Ümit","Everest",400)
#kitap_ekle("kitaplar","Olasılıksız","Adam Faver","APRIL",475)
#kitap_ekle("kitaplar","İstanbul Hatırası","Ahmet Ümit","Everest",590)


#listele()
#con.close()

Yukarıdaki listele fonksiyonu bize tablodaki tüm verileri istediğimiz kriterlere göre yani tüm verilerin sadece istediğimiz sütunlarını bize getirecek sorgunun kodudur.

#### NOT:

**cur=fetchall()** fonksiyonu kullanıldı, **con.commit()** kullanılmadı.
Veritabanımızda değişiklik yapılan durumlarda commit() kullanıyoruz. Veri çekme işlemlerinde ise fetchall() kullanıyoruz.

Ayrıca burada dikkat edilecek diğer birşey ise, tablomuzdan çektiğimiz verilerin her bir bir demet olacak şekilde liste içinde demet olarak karşımıza geliyor. Biz burada listenin içindeki her bir demeti ayrı satıra yazdırmak için (*liste,sep="\n") şeklinde kullandık.

In [26]:
#import sqlite3
#con=sqlite3.connect("veritabani.db")
#cur=con.cursor()

#def kitap_ekle(tablo,isim,yazar,yayinevi,sayfa_sayisi):
#    cur.execute("INSERT INTO {} VALUES('{}','{}','{}',{})".format(tablo,isim,yazar,yayinevi,sayfa_sayisi))
#    con.commit()

#def listele():
#    tabloadı=input("Tablo adı: ")
#    kriter=input("Listeleme Kriterleri:\n Tümü için '*' girin \n Belirli kriterler için virgülle ayırarak yazın\n")
#    cur.execute(f"SELECT {kriter} FROM {tabloadı}")
#    liste=cur.fetchall()
#    print(*liste,sep="\n")

#def arama_yap():
#    tabloadı=input("Tablo adı:")
#    sutunlar=input("Getirilecek sütunlar:\nTümü için '*' girin \n Belirli kriterler için virgülle ayırarak yazın\n")
#    sütunda_ara=input("Arama Kriteri: ")
#    metin=input("Arama metni: ")
#    cur.execute(f"SELECT {sutunlar} FROM {tabloadı} WHERE {sütunda_ara} = '{metin}'")
#    liste = cur.fetchall()
#    print(*liste, sep="\n")

#kitap_ekle("kitaplar","Patasana","Ahmet Ümit","Everest",400)
#kitap_ekle("kitaplar","Olasılıksız","Adam Faver","APRIL",475)
#kitap_ekle("kitaplar","İstanbul Hatırası","Ahmet Ümit","Everest",590)


#arama_yap()
#con.close()